@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0%;
    margin: 0%;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    
}
.main {
    width: 2173px;
    height: 1297px;
    background: rgba(5,7,41,1);
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
}

header{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    }
    
    .nav-header-pk {
        background-color: rgba(11,11,13, 0.5);
        height: 100%;
        width: 384px;
        position: absolute;
    }

    .logotype {
        margin-left: 93px;
        padding-top: 71px;
    }
    .logotype a, .logotype-mobile {
        font-weight: 700;
        font-size: 30px;
    }
    
    
    .logotype span, .logotype-mobile span {
        letter-spacing: 0px !important;
        font-weight: 600;
        color: #A276FF
    }
    
    .logotype span:hover {
        color: #F2C94C;
    }
     .logotype:hover {
        color: #FFFFFF;
     }
    
     .nav-menu {
        font-size: 17px;
        margin-top: 94px;
        font-weight: 400;
    }

    .nav-menu a {
        color:#FFFFFF;
     }

     .nav-menu a:active {
        color: #A276FF;
     }

    .nav-menu-list li {
        list-style-type: none;
        padding-left: 139px;
        padding-bottom: 23px;
        padding-top: 24px;
    }
    
      
    .nav-menu-list li:last-child {
        margin-bottom: 0px;
    }
        
    .nav-menu-contact li {
        list-style-type: none;
        opacity: 0.7;
    }
        
    .nav-menu-contact li:first-child {
        margin-top: 370px;
        padding-left: 131px;
        padding-bottom: 23px;
        padding-top: 24px;
    }
        
    .nav-menu-contact li:last-child {
        padding-left: 129px;
        padding-bottom: 23px;
        padding-top: 24px;
    }

    .nav-menu a:hover {
        color: #F2C94C;
        }
    
    .nav-menu li:hover {
       color: #F2C94C;
        background-image: url(img/Marker.png);
        background-position: left center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        white-space: nowrap;
        }
        
    .copyright {
        padding-left: 131px;
        margin-bottom: 105px;  
        margin-top: 58px;
        opacity: 0.25;
    }
     
 

.social-icons {
    height: 73px;
    width: 232px;
    background-color: #A276FF;
    margin-left: 1632px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
        
.social-icons:hover {
    background-color: #F2C94C;
}

.content-heading {
    display: flex;
    margin-top: 182px;
    margin-left: 592px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}
    
h1 {
    font-size: 56px;
    line-height: 104px;
}
    

.content-heading a {
    text-transform: uppercase;
    font-size: 120px;
    line-height: 117px;
    color: #A276FF;

}
    
.content-heading a:hover {
    color: #F2C94C;
   
    }

.first {
  
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 29px;
    line-height: 155.2%;
    padding-top: 44px;
    margin-left: 593px;;
    width: 1083px;
    height: auto;
   
    }
.btn {
    padding-top: 68px;
    margin-left: 594px;
    display: flex;
    }

button {
    width: 352px;
    height: 70px;
    background-color: transparent;
    border: 3px solid color(srgb 255 255 255);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 17px;
}
button:hover {
    border-color: #F2C94C;
    font-weight: 700;
    font-size: 20px;
    }

.photo {
    padding-top: 93px;
    margin-left: 591px;
    display: inline-block;
    }

.photo img {
    margin-right: 93px;
    outline: 6px solid #FFFFFF;
    border-radius: 11px;
    }

.photo img:hover {
    outline: 6px solid #F2C94C;
    }

    .news {
        margin-top: 76px;
        margin-left: 590px;
        display:flex;
        gap: 14px;
        align-items: center;
        
    }

    .news h2 {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;
       
    }
    .news a {
        background-image: url(img/triangle.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 37px;
        height: 34px;  
        padding-top: 20px;
    }

    .news a:hover {
        background-image: url(img/triangle2.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 37px;
        height: 34px;  
        padding-top: 20px;
        
    }
    
    .second {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 593px;
    height: 81px;
    margin-top: 40px;
    }

    .logotype-mobile {
        display: none;
    }
    .menu {
        display: none;}
       
        footer {
            display: none;
        }
        

/* media */
@media (min-width: 320px) and (max-width:2173px) {

    
    .main {
    width: 100%;
    height: 100%;
}

.social-icons {
   flex-wrap: wrap;
   margin-left: auto;
 

}
.content-heading {
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
   margin-left: 500px;

   
}
    
.first {
    width: auto;
    word-wrap: break-word;
   
    padding-right: 20px;
    margin-left: 500px;

}

.btn {
    
    width: 100%;
    height: 100%;
    margin-left: 500px;
   
}

.photo {
    margin-left: 500px;
    
}

.photo img { 
    margin-bottom: 30px;
  
  
    }
    
    .news {
        width: 100%;
        height: 100%;
        margin-left: 500px;
    }

    .second {
    width: auto;
    word-wrap: break-word;
    padding-right: 20px;
    margin-left: 500px;
    }

    .menu {
        display: none;}
       }


footer {
    display: none;
}






@media (min-width: 320px) and (max-width: 1100px) {
    
    .nav-header-pk {
       display: none;
    }

   

.logotype-mobile {
    display: block;
    text-align: center;
   padding-top: 40px; 
   font-size: 40px;
}

   .logotype-mobile span:hover {
    color: #F2C94C;
    }

.logotype-mobile:hover {
    color: #FFFFFF;
}

  .social-icons {
 display: none;
  }

  .content-heading {
    margin: auto;
    justify-content: center;
  }


h1 {
    padding-top: 44px;
    font-size: 36px;
    
}

.content-heading a {
    font-size: 70px;
    line-height: 30px;
    
}
.first {
   padding-top: 60px;
   padding-left: 30px;
   padding-right: 30px;
    margin: auto;
    text-align: center;
    font-size: 24px;
}

.btn {
    width: 70%;
    margin: auto;
    justify-content: center;
}


    
    
   .news {
    justify-content: start;
    margin-left: 24px;
    margin-top: 20px;
  
   }
   .news h2 {
    font-size: 32px;
   }

.second {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 14px;
}
.burger-menu {
    display: relative;
 
  }

  .burger {
    width: 30px;
    height: 40px;
    cursor: pointer;
  }

  .burger span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #A276FF;
    transition: transform 0.3s ease;
    margin-left: 20px;
    margin-top: -50px;
  }



  .burger span:nth-child(2),
  .burger span:nth-child(3) {
    margin-top: 8px;
  }

  

  /* Стили для открытого меню */
  .menu {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #0B0B0D;
    opacity: 0.9;
  }

  .menu.active {
      display: block;
  }

  .menu a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 20px;
  }
   .menu a:hover {
        color: #F2C94C;
         background-image: url(img/Marker.png); 
         background-size: contain;
         background-position: left center;
         background-repeat: no-repeat;
         box-sizing: border-box;
         white-space: nowrap;
         }


        footer {
            display: block;
            background-color: rgba(11,11,13, 0.5);
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            
            
        }
        
        .social-icons-mobile {
            display: flex;
            justify-content: center;
           
        }
        .social-icons-mobile img {
           position: relative;
            border-radius: 50%;
            background-color: #A276FF;
            padding: 4px;
            margin-top: 20px;
        }

        .social-icons-mobile img:hover {
            background-color: #F2C94C;
        } 

        .tw img {
            padding: 6px;
            margin-right: 10px;
        }
        
        .contact-mobile {
            font-size: 10px;
            display: block;
            text-align: center;
            margin-top: 10px;
            opacity: 0.7;
        }
        .contact-mobile a:first-child {
            margin-right: 10px;
        }
        
        .copyright-mobile {
            font-size: 8px;
            opacity: 0.4;
            display: block;
            text-align: center;
            margin-top: 6px;
            padding-bottom: 10px;

        }
    
        .photo {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: auto;
         
        }
        
        .photo img {
            margin-right: 20px;
            margin-left: 20px;
            width: 200px;
           
        }
        
       
    }




@media (min-width: 600px) and (max-width: 1100px) {

    .burger {
        width: 60px;
        cursor: pointer;
      }

      .burger span {        
        height: 10px;
        margin-top: -50px;
      }
        
        .menu a {
        font-size: 30px;
        }

.logotype-mobile {
    font-size: 50px;
}


}