@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0%;
    margin: 0%;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    
}
.main {
    width: 2173px;
    height: 1297px;
    background: rgba(5,7,41,1);
    background-image: url(/img/background.png);
    background-position: center;
    background-size: cover;
}

header{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background-color: rgba(11,11,13, 0.5);
    height: 1296px;
    width: 384px;
    position: absolute;
    }
    
    .logotype {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 4.5%;   
        padding-left: 93px;
        padding-top: 71px;
    }
    
    .logotype span {
        letter-spacing: 0px !important;
        font-weight: 600;
        color: #A276FF
    }
    
    .logotype span:hover {
        color: #F2C94C;
    }
     .logotype:hover {
        color: #FFFFFF;
     }
    
    .nav-menu {
        font-size: 17px;
        padding-top: 94px;
        font-weight: 400;
    }

    .nav-menu li:hover {
        color: #F2C94C;
        border: 5px solid transparent;
        border-image-source: url(/img/Marker1.svg);
        border-right: 0px;
        border-image-slice: 5;
       
    }

    
    .nav-menu-list li {
        list-style-type: none;
        padding-left: 139px;
        margin-bottom: 47px;
    }
    
    .nav-menu-list li:last-child {
        margin-bottom: 0px;
    }
    
    .nav-menu-contact li {
    list-style-type: none;
    opacity: 0.7;
    }
    
    .nav-menu-contact li:first-child {
        margin-top: 394px;
        padding-left: 131px;
        margin-bottom: 47px;
    }
    
    .nav-menu-contact li:last-child {
        padding-left: 129px;
        margin-bottom: 0px;
    }

    .copyright {
        padding-left: 131px;
        margin-bottom: 105px;  
        margin-top: 81px;
        opacity: 0.25;
        }
 

.social-icons {
    height: 73px;
    width: 232px;
    background-color: #A276FF;
    margin-left: 1632px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
        
.social-icons:hover {
    background-color: #F2C94C;
}

.content-heading {
    margin-top: 182px;
    margin-left: 592px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}
    
h1 {
    font-size: 56px;
    line-height: 104px;
}
    
.content-heading a {
    text-transform: uppercase;
    font-size: 120px;
    line-height: 117px;
    color: #A276FF;
}
    
.content-heading a:hover {
    color: #F2C94C;
   
    }

.first {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 29px;
    line-height: 155.2%;
    padding-top: 44px;
    margin-left: 593px;;
    width: 1083px;
    height: 83px;
    }
.btn {
    padding-top: 68px;
    margin-left: 594px;
    }

button {
    width: 352px;
    height: 70px;
    background-color: transparent;
    border: 3px solid color(srgb 255 255 255);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 17px;
}
button:hover {
    border-color: #F2C94C;
    font-weight: 700;
    font-size: 20px;
    }

.photo {
    padding-top: 93px;
    margin-left: 591px;
    display: inline-block;
    }

.photo img {
    margin-right: 93px;
    outline: 6px solid #FFFFFF;
    border-radius: 11px;
    }

.photo img:hover {
    outline: 6px solid #F2C94C;
    }

    .news {
        margin-top: 76px;
        margin-left: 590px;
        display:flex;
        gap: 14px;
        align-items: center;
        
    }

    .news h2 {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;
       
    }
    .news a {
        background-image: url(/img/Downward\ triangle.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 37px;
        height: 34px;  
        padding-top: 20px;
    }

    .news a:hover {
        background-image: url(/img/Downward\ triangle\ 2.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 37px;
        height: 34px;  
        padding-top: 20px;
        
    }
    
    .second {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 593px;
    height: 81px;
    padding-top: 40px;
    }

